<html>
<head>
  <title>Syntinel</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <script src="/javascripts/vendor/angular.min.js"></script>
  <script src="/javascripts/vendor/angular-ui-router.js"></script>
  <script src="/javascripts/config.js"></script>
  <script src="/javascripts/controllers/NavCtrl.js"></script>
  <script src="/javascripts/controllers/AuthCtrl.js"></script>
  <script src="/javascripts/controllers/MainCtrl.js"></script>
  <script src="/javascripts/controllers/AppsCtrl.js"></script>
  <script src="/javascripts/controllers/TestsCtrl.js"></script>
  <script src="/javascripts/services/auth.js"></script>
  <script src="/javascripts/services/tests.js"></script>
  <script src="/javascripts/services/apps.js"></script>
  <script src="/javascripts/vendor/ng-file-upload-all.min.js"></script>
</head>

<body ng-app="syntinel">

<div class="row" style="margin-top: 10px">
  <div class="col-md-6 col-md-offset-3">
    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
    </nav>
  </div>
</div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>



<!--Template for Home Page-->
<script type="text/ng-template" id="/home.html">

        <div class="page-header">
          <h1>Syntinel | My Apps</h1>
        </div>
        <div ng-repeat="app in apps | orderBy:'name'">
          <span style="font-size: 14px">
             <a style="font-size: 20px" href="#/apps/{{app._id}}"> {{app.name}} </a> created by <strong style="font-size: 20px">{{app.owner}}</strong>
          </span>
          <p style="font-size: 12px"> {{app.description}} </p>
        </div>


        <div ng-show="isLoggedIn()">
            <form ng-submit="addApp()">
              <h3>Add a new App:</h3>
              <label for="name">Name:</label>
              <input type="text" name="name" id="name" ng-model="name" required/>
              <br/>
              <label for="description">Description:</label>
              <input type="text" name="description" id="description" ng-model="description" required/>
              <br/>              
              <input type="submit" value="Submit"/>
            </form>
        </div>


        <div ng-hide="isLoggedIn()">
          <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can create a new App.</h3>
        </div>
</script>






<!--Template for app Page-->

<script type="text/ng-template" id="/apps.html">

        <div class="page-header">
          <h1>{{app.name}} | Tests</h1>
        </div>


  <!-- TODO: change these links to reflect new app layout - app doesnt contain tets etc -->
        <div ng-repeat="test in app.tests | orderBy:'name'">
          <span>
              {{test.name}} - Run every --> {{test.frequency}}

              <span ng-show="isLoggedIn()" > <a href="#/tests/{{test._id}}">Results</a> </span>
              <span ng-show="isLoggedIn()" ng-click="runTest(test)"> <button type="submit" class="btn btn-primary">Run Now</button> </span>

          </span>
        </div>


        <div ng-show="isLoggedIn()">
            <form ng-submit="uploadTest()">
              <legend>Add a new test:</legend>
              <label for="name">Name:</label>
              <input type="text" name="name" id="name" ng-model="upload.name" required/>
              <br/>
              <label for="file">File:</label>
              <input type="file" name="file" id="file" ng-model="upload.file" ngf-select ngf-max-size="25MB" required/>
              <br/>
              <input type="submit" value="Submit"/>
            </form>
        </div>


        <div ng-hide="isLoggedIn()">
          <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can upload a test.</h3>
        </div>
</script>






 <!--Template for Test Pages-->
<script type="text/ng-template" id="/tests.html">
  <div class="page-header">
    <h1>{{test.name}} | Results</h1>

    <form ng-submit="runTest()" ng-show="isLoggedIn()">
      <button type="submit" class="btn btn-primary">Run Test</button>
    </form>
     <div ng-hide="isLoggedIn()">
       <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can run tests.</h3>
    </div>
  </div>

  <div class="wrapper">
    <div class="item" ng-repeat="result in test.results | orderBy : '-timestamp'">
       <h4>{{result.timestamp | date:'medium'}} | <span ng-class="result.passed"}">{{result.passed}}</span></h4>
       <h5>Output:</h5>
       <p style="white-space: pre;">{{result.output}}</p> <!--white-space:pre to preserve formatting (ie \n's)-->
       <h5 style="color:red";>Errors:</h5>
       <p style="white-space: pre;">{{result.error}}</p>
    </div>
  </div>


  <form ng-submit="runTest()" ng-show="isLoggedIn()">
    <button type="submit" class="btn btn-primary">Run Test</button>
  </form>

 

</script>




<!-- Template for Register -->
<script type="text/ng-template" id="/register.html">
  <div class="page-header">
    <h1>Syntinel | Registration</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()"
    style="margin-top:30px;">
    <h3>Register</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="First Name"
      ng-model="user.firstName"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Last Name"
      ng-model="user.lastName"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</script>





<!-- Template for Login -->
<script type="text/ng-template" id="/login.html">
  <div class="page-header">
    <h1>Syntinel | Login</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</script>


</body>
</html>