<div class="panel panel-default modal-panel">
    <div class="modal-header panel-heading">
        <span class="pull-left">Import Test File</span>
        <span class="close" ng-click="$ctrl.cancelForm()">
            <i class="fa fa-times"></i>
        </span>
    </div>
</div>
<form class="form-horizontal" ng-submit="$event.preventDefault()" name="importForm">
    <div class="modal-body">
        <div class="form-group">
            <label class="col-md-3 control-label">Import Test Script</label>
            <div class="col-md-6">
                <input type="file"
                       name="file"
                       id="file"
                       ng-model="$ctrl.test.file"
                       ngf-select
                       ngf-max-size="25MB" required/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Application</label>
            <div class="col-md-6">
                <select class="form-control" name="applicationSelect"
                       ng-model="$ctrl.app.name">
                    <!--<div ng-if="$ctrl.app">-->
                        <!--<option ng-repeat="apps in $ctrl.applications"></option>-->
                    <!--</div>-->
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Test Name</label>
            <div class="col-md-6">
                <input class="form-control" type="text" placeholder="Test Name"
                       ng-model="$ctrl.test.name"/>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="col-md-3 control-label">Schedule</label>-->
            <!--<div class="col-md-6">-->
                <!--<div class="input-group date">-->
                    <!--<input class="form-control" type="text" placeholder="Date and Time"-->
                           <!--ng-model="$ctrl.test.schedule"/>-->
                    <!--<span class="input-group-addon">-->
                        <!--<span class="fa fa-calendar"> </span>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$ctrl.saveTest()">Save</button>
        <button class="btn btn-warning" ng-click="$ctrl.resetForm()">Reset</button>
    </div>
</form>
