<div>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="pull-center">
                <h3>Test Scripts</h3>
            </div>
        </div>
    </div>
    <div class="gridStyle" ui-grid="$ctrl.gridOptions" ui-grid-selection></div>
    <button type="button"
            class="btn btn-primary"
            ng-click="$ctrl.addTest()">
        Add Test
    </button>
    <button type="button"
            class="btn btn-primary"
            ng-click="$ctrl.runTest($ctrl.gridApi.selection.getSelectedRows())">
        Run Test
    </button>
</div>