<div>

    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="pull-center">
                <h3 class="test-{{$ctrl.test.results[$ctrl.test.results.length-1].status}}">{{$ctrl.test.name}}
                 <button type="button" class="btn btn-danger a-title-btn" ng-click="$ctrl.deleteTest()">Delete Test</button>
                 <button type="button" class="btn btn-danger a-title-btn" ng-click="$ctrl.clearResults()">Clear Results</button>
                 <button ng-show="$ctrl.test.isActive" type="button" class="btn btn-danger a-title-btn" ng-click="$ctrl.toggleActive()">Deactivate Test</button>
                 <button ng-hide="$ctrl.test.isActive" type="button" class="btn btn-success a-title-btn" ng-click="$ctrl.toggleActive()">Activate Test</button>
                 <button type="button" class="btn btn-primary a-title-btn" ng-click="$ctrl.runTest()">Run Test</button>
                </h3>
            </div>
        </div>
    </div>

    <div class="error-message" ng-if="$ctrl.errorMessage!=''">
     {{$ctrl.errorMessage}}
    </div>

    <div class="message" ng-if="$ctrl.message!=''">
     {{$ctrl.message}}
    </div>

     <div class="gridStyle" ui-grid="$ctrl.gridOptions" ui-grid-selection></div>

    <hr>

    <div>
        <button class="btn btn-primary" data-toggle="collapse" data-target="#script">View Script</button>
        <div id="script" class="collapse">
            <span><pre>{{$ctrl.test.filecontents}}</pre></span>
        </div>
    </div>


    
    
</div>