<div>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="pull-center">
                <h3>Test Scripts</h3>
            </div>
        </div>
    </div>
    <div class="form-control">
        <label>Test Status</label>
        <span>{{$ctrl.test.status}}</span>
    </div>
    <br>

    <button class="btn btn-primary" data-toggle="collapse" data-target="#script">View Script</button>
    <br>
    <div id="script" class="collapse" style="background-color: #efefef">
        <br>
        <span>{{$ctrl.test.filecontents}}</span>
        <br>
        <br>
    </div>

    <br>

    <button class="btn btn-primary" data-toggle="collapse" data-target="#results">View Results</button>
    <br>
    <div id="results" class="collapse" style="background-color: #efefef">
        <span>{{$ctrl.test.results}}</span>
    </div>
    <br><br><br>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.runTest()">Run Test</button>
    <button type="button" class="btn btn-danger" ng-click="$ctrl.deleteTest()">Delete Test</button>
</div>