<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">


            <ul class="nav navbar-nav">
                <li><a ng-href="/" id="home-button"><img src="src/Logo.png" id="menu-icon"></a></li>
                <span ng-repeat-start="navBar in $ctrl.menuTree"></span>

                <li ng-if="navBar.sref">
                    <a ng-if="navBar.sref"
                       ui-sref="{{navBar.sref}}">
                        {{navBar.label}}
                    </a>
                </li>

                <li ng-if="!navBar.sref && navBar.subMenu">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span>{{navBar.label}}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="subMenu in navBar.subMenu">
                            <a ui-sref="{{subMenu.sref}}">
                                {{subMenu.label}}
                            </a>
                        </li>
                    </ul>
                </li>
                <span ng-repeat-end></span>
            </ul>

            <!--RIGHT SIDE NAV-->

            <!--DISPLAY LOGIN/REGISTER IF NOT LOGGED IN-->
            <ul class="nav navbar-nav navbar-right"
                ng-if="!$ctrl.userLoggedIn">
                <li><a>
                    <span class="clickable" ui-sref="userLogin"> Login </span>
                </a></li>
                <li><a>
                    <span class="clickable" ui-sref="userRegister"> Register </span>
                </a></li>
            </ul>

            <!--DISPLAY LOGOUT IF THERE IS A LOGGED IN USER-->
            <ul class="nav navbar-nav navbar-right"
                ng-if="$ctrl.userLoggedIn">
                <li><a>
                    <span class="clickable"
                          ng-click="$ctrl.userLogOut()"> Logout </span>
                </a></li>
            </ul>


        </div>
    </div>
</nav>