<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Barter</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <span ng-repeat-start="navBar in $ctrl.menuTree"></span>
                <!-- Navigation without a submenu -->
                <li ng-if="navBar.sref">
                    <a ng-if="navBar.sref"
                       ui-sref="{{navBar.sref}}">
                        {{navBar.label}}
                    </a>
                </li>
                <!-- Navigation with a submenu -->
                <li ng-if="!navBar.sref && navBar.subMenu">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span>{{navBar.label}}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="subMenu in navBar.subMenu">
                            <a ui-sref="{{subMenu.sref}}">
                                {{subMenu.label}}
                            </a>
                        </li>
                    </ul>
                </li>
                <span ng-repeat-end></span>
            </ul>
            <div class="col-sm-5 col-md-5">
                <form class="navbar-form"
                      role="search">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Search" ng-model="productSearch" />
                        <div class="input-group-btn">
                            <button class="btn btn-default"
                                    type="submit"
                                    ng-click="$ctrl.searchProduct(productSearch)">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right"
                ng-if="!$ctrl.userLoggedIn">
                <li><a>
                    <span class="glyphicon glyphicon-log-in clickable"
                          ui-sref="userLogin"> Login </span>
                </a></li>
                <li><a>
                    <span class="glyphicon glyphicon-pawn clickable"
                          ui-sref="userRegister"> Register </span>
                </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right"
                ng-if="$ctrl.userLoggedIn">
                <li><a>
                    <span class="glyphicon glyphicon-user clickable"
                          ui-sref="myProfile"> Profile </span>
                </a></li>
                <li><a>
                    <span class="glyphicon glyphicon-log-out clickable"
                          ui-sref="browseAll"> Logout </span>
                </a></li>
            </ul>
        </div>
    </div>
</nav>